/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

/* Tailwind */
@import "tailwindcss";

/* Theme Variables */
@theme {
  --font-inter: "Inter", sans-serif;
  --font-lato: "Lato", sans-serif;
}

/* Custom Utility */
/* @utility lgmd\:block {
  @media (max-width: 1000px) {
    display: block;
  }
} */

/* Global Styles */
* {
  outline: none;
}

body {
  overflow: hidden;
}